body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #fafafa;
}

body,table,tr,td,div,p,a{font-family: Verdana, Arial, Helvetica, sans-serif;font-weight: normal;font-size: 11px;color: #000000;text-decoration: none;}
form,ul, li {margin:0px;padding:0px;}
.input{height:20px;border:#4182ab solid 1px;background-color:#eff2f3;}
.textarea{
	text-decoration: none;
	border:#4182ab solid 1px;
	background-color:#eff2f3;
}
.submit{
	background:url('../images/btnbg.jpg') repeat-x;
	border:#084594 solid 1px;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	cursor:pointer;
	height:20px;
}
/*.header_bg {
	background-image:url(../images/logobg.jpg);
	background-repeat:repeat-x;
}*/
.header_bg {
	background:#ffffff;
}
.black_text {
	color: #000000;
}
.blue_text{
	color: #003399;
}
.blue_text:hover{
	color: #4c78cf;
}
.blue_link{
	color: #ef6d29;
	text-decoration:underline;
}
.blue_link:hover{
	color: #4c78cf;
	text-decoration:none;
}
.home_menu_link {
	font-weight: bold;
	color: #ffffff;
	text-decoration:none;
}
.home_menu_link:hover {
	color: #0b4793;
}
.red_text {
	font-size: 11px;
	color: #ff0000;
}
.error {
	font-size: 10px;
	color: #ff0000;
}
.leftmenu_link {
	font-weight: bold;
	color: #353e4b;
	text-decoration: none;
}
.leftmenu_link:hover {
	color: #4C78CF;
}
.header_menu_bg {
	background:url(../images/menubg.jpg) repeat-x;
	height:37px;
}
.left_menu_bg{
	background-image:url(../images/left_menu_bg.jpg);
	background-repeat:repeat-x;
	height:28px;
	border-left:#cecfce solid 1px;
	border-right:#cecfce solid 1px;
}
.top_menu{
	font-weight: bold;
	color: #ffffff;
	text-decoration:none;
}
.top_menu:hover{
	color: #0066cc;
	text-decoration:underline;
}
.td_heading{
	background-color:#55a7ce;
	border:#4182ab solid 1px;
	font-weight: bold;
	color: #fff;
	height:25px;
	padding-left:5px;
	text-decoration: none;
}
.td_bottom{
	background-color:#006ca2;
}
.tr_bg{
	background-color:#f1f1f1;
}
.tr_bg2{
	background-color:#eaeaea;
}
.border {
	border: 1px solid #4182ab;
}
.border2 {
	border: 1px solid #4182ab;
	background-color:#FFFFFF;
}

.inner{
	padding-left:20px;
	padding-right:20px;
}
.inner_left{
	padding-left:20px;
}
.devider {
	border-top: 1px  #4182ab solid;
}
.copyright {
	font-size: 10px;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
}
.copyright:hover {
	color:50b4ff;
	text-decoration: underline;
}
.footer_bg {
	font-size: 10px;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
	background-image:url(../images/footer_bg.jpg);
	background-repeat:repeat-x;
	height:55px;
}
.innertable {
	border: 1px solid #014A8F;
	background-color: #e8f5fb;
}
.mainbodybg {
	background:url(../images/mainbodybg.jpg) repeat-x #e3e7ed;
}
.boxbg {
	background:url(../images/boxbg.gif) repeat-x;
}
.blacktxt_bold {
	font: bold 11px/12px Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
}


/*....................pagenation.................  */
.pagefirstlast{color:#660000;font-weight:bold;text-decoration:none;}
.pagefirstlast:hover{color:#000066;	text-decoration:underline;}
.pagenextprev{color:#990033;font-weight:bold;text-decoration:none;}
.pagenextprev:hover{color:#666666;text-decoration:underline;}
.pagenumbers{color:#0000CC;	font-weight:bold;text-decoration:none;}
.pagenumbers:hover{color:#00CCFF;text-decoration:underline;}
.pagenumberselected{font-size:16px;color:#FF0000;font-weight:bold;text-decoration:none;}
.pagecounter{color:#000000;font-weight:bold;}
.limitdropdown{color:#666666;font-weight:bold;}
.notfounderror{font-size:10px;color:#FF0000;font-weight:bold;text-decoration:none;}
.limitdropdowntext{color:#000000;font-weight:bold;}
.pagedropdowntext{color:#000000;font-weight:bold;}
.dropdownpaging{color:#000000;font-weight:bold;}
